<div class="container text-center">
  <div class="header">fave drinks</div>
  <div class="mb-4" *ngFor="let cock of sigCocks">
    <div class="subhead">{{cock.name}}</div>
    <div>{{cock.description}}</div>
  </div>
  <div class="mb-4">
    <div class="subhead">beer</div>
    <div>sweetwater 420 extra pale ale</div>
    <div>creature comforts tropicalia IPA</div>
  </div>
  <div class="mb-4">
    <div class="subhead">wine</div>
    <div>malbec</div>
    <div>sauvignon blanc</div>
  </div>
  <div class="mt-5" style="font-size: small;">*please drink responsibly</div>
</div>
