h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 38px;
  text-align: center;
}

.heart {
	animation: beat .5s infinite alternate;
	transform-origin: center;
}

.menu {
  height: 40px;
  width: 40px;
}

.placeholder-div {
  opacity: 0;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.1); }
}