<div class="container text-center mb-5">
  <div class="header">menu</div>

  <div class="mb-5">
    <div class="subhead">small bites</div>
    <div *ngFor="let app of menu.smallBites" class="mb-3">
      <div>{{app.name}}</div>
      <div class="description">{{app.description}}</div>
    </div>
  </div>

  <div class="mb-5">
    <div class="subhead">salad</div>
    <div *ngFor="let salad of menu.salads" class="mb-3">
      <div>{{salad.name}}</div>
      <div class="description">{{salad.description}}</div>
    </div>
  </div>


  <div class="mb-5">
    <div class="subhead">mains</div>
    <div *ngFor="let entree of menu.mains" class="mb-3">
      <div>{{entree.name}}</div>
      <div class="description">{{entree.description}}</div>
    </div>
  </div>

  <div class="mb-5">
    <div class="subhead">sides</div>
    <div *ngFor="let side of menu.sides" class="">
      <div class="">{{side.name}}</div>
    </div>
  </div>

  <div class="mb-3">
    <div class="subhead">dessert</div>
    <div *ngFor="let dessert of menu.desserts" class="">
      <div class="">{{dessert.name}}</div>
    </div>
  </div>


</div>
